body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    max-width: 560px;
    background-color:  	#224de3;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Bitter', serif;
}

h1 {
    color: whitesmoke;
}

a {
    color: black;
    font-weight:bolder;
    font-size:xx-large;
}
a:hover {
    color: cadetblue;
}
a:visited{
    color: black;
}

h2 {
    font-size: medium;
}

 button {
    background-color: white;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Bitter', serif;
    text-align: center;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    min-width: 100px;
    height: 70px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    }

img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

.content {
    padding: 5px;
}


/* I have gotten help with this game from Lotte, Lucas and I got inspiration about how the game could work from Ida and Charlie.*/

.bookHidden {
    display: none;
}

.bookVisible {
    max-width: 100px;
    max-height: 70px;
}

.presentHidden {
    display: none;
}

.presentVisible {
    max-width: 100px;
    max-height: 70px;
}

.heelsHidden {
    display: none;
}

.heelsVisible {
    max-width: 100px;
    max-height: 70px;
}

.winHidden {
    max-width: 50px;
}

.win {
    max-width: 50px;
}
